*{
    margin: 0;
    padding: 0;
    border:0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fa0606;
    height: 15vh;
}

header img{
    width: 10vw;
}

nav {
    background-color:  #fc6c0d;
    padding: 0.5em;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    background-image: url(assets/fundo\ drinks\ 2.jpg);
    height: 100vh;
    background-size: cover;
    
}

/* Tabela */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    text-align:  left;
    padding: 20px;
}

.tabela{
    margin-top: 50px;
    margin-left: 60px;
    color: #d85b08;
}

.tabela h2{
    color: white;
}

thead{

}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 40px;
}

th, td {
    border: 2px solid #d60707;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #eb650c5b;
    color: white;
}

thead tr:hover {
    background-color: transparent;
    color: inherit;
}

h2 {
    margin-bottom: 10px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    height: 12vh;
}

footer img{
    width: 2vw;
}

.zap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.insta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

a{
    text-decoration: none;
    color: rgb(253, 255, 254);
}