*{
    margin: 0;
    padding: 0;
    border:0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fa0606;
    height: 15vh;
}

header img{
    width: 10vw;
}

nav {
    background-color:  #fc6c0d;
    padding: 0.5em;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main{
    background-image: url(assets/fundo\ drinks\ 2.jpg);
    height: 100vh;
    background-size: cover;
    
}

/* Tabela */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

main {
    text-align:  left;
    padding: 20px;
}

.tabela{
    margin-top: 50px;
    margin-left: 60px;
    color: #743308;
}

.tabela h2{
    color: white;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 2px solid #700d0d50;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #f2f2f2;

}

tr:hover {
    background-color: #eb650c5b;
    color: white;
}

thead tr:hover {
    background-color: transparent;
    color: inherit;
}

h2 {
    margin-bottom: 10px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #fa0606;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
}

footer img{
    width: 2vw;
}

.zap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.insta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

a{
    text-decoration: none;
    color: rgb(253, 255, 254);
}


@media screen and (max-width: 768px){

header img{
    width: 30vw;
}
            
main{
        
    height: 90vh;
    background-image: url(assets/Fundo\ drinks\ responsivo.png);
    background-position: right;
}

table{
    margin-top: -16px;
    width: 90%;
}

.tabela{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

section{
    display: flex;
    justify-content: center;

}
.tabela h2{
    margin-block-start: 4em;
    margin-block-end: 1em;
}

footer{
    padding: 0;
    height: 12vh;
}

footer img{
    width: 5vw;
}


}