*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fa0606;
    height: 22vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:gold;
}

header img{
    width: 10vw;
}

nav {
    background-color:  #fc6c0d;
    padding: 0.5em;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Fundo do forms*/

main{
    background-image: url(assets/pexels-thiago-lazaro-2874979.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

/* Forms */

#form {
    margin-top: 10px;
    margin-right: auto; 
    margin-left: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
#form h2{
    margin-bottom: 25px;
    color: white;
    
}

form {
    display: flex;
    flex-direction: column;
    color: white;
}

label {
    margin-bottom: 8px;
}

input {
    margin-bottom: 16px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #fc6c0d;
    color: white;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #fa0606;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    bottom: 0;
    width: 100%;
    height: 12vh;
}

footer img{
    width: 2vw;
}

.zap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.insta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

a{
    text-decoration: none;
    color: rgb(253, 255, 254);
}


@media screen and (max-width: 768px){

header img{
    width: 30vw;
}
    
main{
    display: flex;
    justify-content: center;
    height: 70vh;
    
}
#form {
    
    margin-right: 10%; 
    margin-left: 10%;
    border: 2px solid white;    
}

footer{
    padding-bottom: 0;
}

footer img{
    width: 5vw;
}

}